{% extends 'my_site/base.html' %}

        {% block content %}
        <section class="section-prices container">
            <div class="section-prices__inner">
                <h2 class="section-prices__title title-section">
                    Цены на реверс-инжиниринг
                </h2>
                <div class="section-prices__prices-table prices-table">
                    <div class="prices-table__row">
                        <div class="prices-table__col-name">
                            <p class="prices-table__text-name">
                                Обработка 3д скана
                            </p>
                        </div>
                        <ul class="prices-table__col-list">
                            <li>оптимизация геометрии скана</li>
                            <li>уменьшение количества полигонов</li>
                            <li>устранение шумов и деффектов</li>
                        </ul>
                        <div class="prices-table__col-price">
                            <p class="prices-table__text-price">
                                от 2 000 ₽
                            </p>
                            <p class="prices-table__text-time">
                                от 2 часов
                            </p>
                        </div>
                    </div>
                    <div class="prices-table__row">
                        <div class="prices-table__col-name">
                            <p class="prices-table__text-name">
                                Проектирование в .STP по 3д скану
                            </p>
                        </div>
                        <ul class="prices-table__col-list">
                            <li>создание твердотельной модели в формате
                                .stp с точностью 0,15 мм</li>
                            <li>создание твердотельной модели с деревом
                                построения в CAD системе заказчика (если
                                необходимо)</li>
                        </ul>
                        <div class="prices-table__col-price">
                            <p class="prices-table__text-price">
                                от 5 000 ₽
                            </p>
                            <p class="prices-table__text-time">
                                от 1 дней
                            </p>
                        </div>
                    </div>
                    <div class="prices-table__row">
                        <div class="prices-table__col-name">
                            <p class="prices-table__text-name">
                                Проектирование в .stp по 3д скану с созданием чертежа
                            </p>
                        </div>
                        <ul class="prices-table__col-list">
                            <li>создание твердотельной модели в формате
                                .stp с точностью 0,15 мм</li>
                            <li>создание твердотельной модели с деревом
                                построения в CAD системе заказчика (если
                                необходимо)</li>
                            <li>оформление конструкторской документации по
                                спроектированной модели в соответствии с
                                ЕСКД</li>
                        </ul>
                        <div class="prices-table__col-price">
                            <p class="prices-table__text-price">
                                от 8 000 ₽
                            </p>
                            <p class="prices-table__text-time">
                                от 2 дней
                            </p>
                        </div>
                    </div>
                </div>
                <button class="section-prices__button button-open-form">
                    Отправить данные для расчета
                </button>
            </div>
        </section>

        <section class="section-faq container">
            <h2 class="section-faq__title title-section">
                Часто задаваемые вопросы
            </h2>
            <div class="section-faq__faq-list faq-list">
                <ul class="faq-list__ul">
                    <li class="faq-list__li">
                        <div class="faq-list__item">
                            <div class="faq-list__title-container">
                                <h3 class="faq-list__title">
                                    Что требуется, чтобы оценить стоимость
                                    реверсинжениринга?
                                </h3>
                            </div>
                            <span class="faq-list__btn-expand"></span>
                        </div>
                        <div class="faq-list__content">
                            <p class="faq-list__text">
                                Для точной оценки стоимости работ по
                                реверсинженирингу необходимос представить
                                фото изделий с разных ракурсов, а также
                                требования по минимальной величине отклонений
                                итоговой модели от скана.
                            </p>
                        </div>
                    </li>

                    <li class="faq-list__li">
                        <div class="faq-list__item">
                            <div class="faq-list__title-container">
                                <h3 class="faq-list__title">
                                    Каким образом передаются образецы для
                                    реверса?
                                </h3>
                            </div>
                            <span class="faq-list__btn-expand"></span>
                        </div>
                        <div class="faq-list__content">
                            <p class="faq-list__text">
                                Если образецы не является крупногабаритными или
                                нетранспортируемыми деталями, то
                                организуется доставка логистической
                                компанией CDEK. Услуги по доставке
                                включаются в стоимость работ.
                            </p>
                        </div>
                    </li>

                    <li class="faq-list__li">
                        <div class="faq-list__item">
                            <div class="faq-list__title-container">
                                <h3 class="faq-list__title">
                                    Что если детали крупногабаритные и их не
                                    получится отправить транспортной компанией?
                                </h3>
                            </div>
                            <span class="faq-list__btn-expand"></span>
                        </div>
                        <div class="faq-list__content">
                            <p class="faq-list__text">
                                В даннмо случае орагнизуется выезд на
                                территорию заказчика. Детали и условия
                                подобных заказов обсуждаются
                                индивидуально с каждым клиентом.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        {% endblock content %}
